@import "bootstrap";

.box {
    position: relative;
    margin-top: 24px;
    padding: 36px 48px;
    border: solid 1px;

    .box_title {
        position: absolute;
        padding: 0 1em;
        top: 0;
        left: 0;
        background-color: white;
        transform: translateY(-50%) translateX(1em);
    }
}