@import "bootstrap";

body {
  background-color: #f7f7f7;
}

.task-search {
  form {
    padding: 1em;
    background-color: white;
    box-sizing: border-box;
  }
  label {
    margin: 0;
  }
  input[type="search"] {
    border-radius: 3px;
    border: solid  1px;
    margin-bottom: 1em;
  }
  select {
    margin-bottom: 1em;
  }
}

.task-list {
  min-height: calc(100vh - 100px);;
  padding: 1em;
  margin-left: 1em;
  background-color: white;
  box-sizing: border-box;
}

.category-list {
  min-height: calc(100vh - 180px);;
  padding: 1em;
  background-color: white;
  box-sizing: border-box;
  border: solid 1px #dee2e6;
}

.category-edit {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
  border: solid 1px #dee2e6;
}

.box {
  margin-top: 24px;
  padding: 24px 48px 36px;
  border: solid 1px #dee2e6;
  background-color: white;
}
